* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #d5dbf3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 6em;
  /**align-items: center;*/
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  color: #fff;
  font-family: "Roboto", sans-serif;

  /**Flexbox*/
  /**display: flex;
  gap: 20px;*/

  /**Grid*/
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.titulo {
  font-size: 24px;
  padding: 20px 0;
}

.contenedor-conciertos {
  /**Flexbox*/
  /*width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;*/

  /**Grid*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;

  /**Flexbox*/
  /*width: calc(33.33% - 20px);*/
}

.card .textos {
  height: 100%;

  /**Flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /**Grid*/
  /**display: grid;
  grid-template-rows: 1fr auto;*/
}

.banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;

  /**Flexbox*/
  /**width: 30%;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /**Grid*/
  /**display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;*/
}

.banner ul {
  list-style: none;
}

.banner ul li {
  margin: 15px;
  font-weight: bold;
}

.banner .boton {
  background: #ffd600;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .contenedor {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contenedor-conciertos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contenedor-conciertos {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }

  .contenedor-conciertos {
    display: flex;
    flex-direction: column;
  }
}

/**SCROLL SLIDER*/
.container-slider-x {
  max-width: 600px;
  margin: 0 auto;
}
.slider {
  display: flex;
  max-width: 500px;
  height: 300px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider img {
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

/**Animation scroll*/
.container-slider-animation {
  max-width: 450px;
  margin: 0 auto;
  font-family: system-ui;
  margin-top: 100px;
  margin-bottom: 100px;
}
.container-slider-animation h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container-slider-animation h2 {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 480;
  margin-bottom: 32px;
}

.container-slider-animation img {
  width: 100%;
  height: auto;

  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

/**Position*/
.container-position {
  margin: 30vh auto;
  border: 5px solid black;
  width: 310px;

  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.cabecera-fixed {
  background-color: black;
  color: white;
  padding: 2em 0;

  position: fixed; /**pierde su espacio y su sitio, 
  se sale del flujo, aunque este dentro de un contenedor posicionado
  este elemento con position fixed se ubicara respecto a la etiqueta html
  y no a su contenedor padre*/
  top: 0;
  width: 100%;
  text-align: center;
}

.cabecera-sticky {
  background-color: rgb(13, 3, 104);
  color: white;
  padding: 2em 0;

  position: sticky; /** se mantiene fijo cuando alcanze la x posicion que le des*/
  top: 120px;
  width: 100%;
  text-align: center;
}
.box {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
}

.box-1 {
  background-color: #ff6961;
  position: absolute; /**deja un vacio, como si flotara, 
  si tiene un contenedor padre posicionado relative, 
  se posiciona respecto a este*/
  top: 20px;
  left: 260px;
  bottom: ;
  right: ;
  z-index: -1; /**pone el elemento detras de su contenedor padre*/
}

.box-2 {
  background-color: #77dd77;
  position: static; /**positio por defecto, no permite mover al elemento*/
}

.box-3 {
  background-color: #e79eff;
  position: relative;
  top: 20px;
  left: 30px;
  bottom: ;
  right: ;
  z-index: 10; /**pone al elemento delante de otro, 
  si hay otro elemento con un z-index mayor, 
  ese se pone adelante*/
}

.box-4 {
  background-color: #84b6f4;
  position: relative; /**pone al elemento delante de otro 
  que no tenga una position*/
}

.box-5 {
  background-color: #ee7f41;
}

.box-6 {
  background-color: #5e704a;
}
